h1{
    font-size:20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

h2{
font-size: 15pt;
font-weight: bold;
}

article li{list-style-type: square;}

img{
    width:100%;
    border: 1px solid gray;
    padding:3px;
   
}
/*oldalszerkezet kialakitasa*/
header, nav, aside, article, footer{
    border: 1px solid gray;
    padding:10px;
}
*{
    box-sizing:border-box;
/* az elem szélességébe beleszámít a padding és a border is*/
}
main{
    width:80%;
    margin:0 auto; /*középre igazítás oldal
    text-align:center; szöveg középre igazítása*/

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:  
        "h h h h"
        "n n n n"
        "as ar ar ar"
        "f f f f"
    ;
    grid-gap:10px;
}
header {
    grid-area: h;
}
nav {
    grid-area: n;
}
aside {
    grid-area: as;
    
}
article{
    grid-area: ar;
   
}
footer{
    grid-area: f;
}

/*Menü kialakítása*/
nav li{
    list-style-type: none;
}
nav ul{
    padding-left:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*lehet: 100px 100px vagy 20% 20%  vagy lehet 1fr 1fr 1fr Vagy 50px 1fr 1fris lehet, auto(amennyi szöveg belefér) auto */
    grid-gap:2px;
}
nav a{
    text-decoration: none;
    background-color: bisque;
      text-align:center;
    display:block;
    border-radius:10px;
}
nav a:hover{
    background-color: cadetblue;
    color:bisque;
}